@import url('https://fonts.googleapis.com/css2?family=Anek+Odia&family=Hind+Siliguri&family=Kanit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

html {
    font-family: 'Kanit', sans-serif;
    font-size: 10px;
    color: #444;
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu-toggle {
    width: 2rem;
    height: 2rem;
    font-size: 3.5rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: none;
    cursor: pointer;
    z-index: 2;
}

@media screen and (max-width: 625px) {
    .menu-toggle {
        display: flex;
    }
}

.menu-toggle i,
.fa-times {
    font-size: 3.5rem;
}

.fa-times {
    display: flex;
    cursor: pointer;
    position: relative;
    top: 1rem;
    left: 1rem;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 10rem;
    border-bottom: 1px solid #444;
    position: absolute;
    top: 0;
    z-index: 2;
}

@media screen and (max-width: 625px) {
    nav {
        display: none;
    }
}

.nav-middle {
    margin: auto;
    position: relative;
    left: 19%;
}

.nav-middle li {
    margin: 0;
    padding: 0;
    width: 27%;
}

.nav-middle li:hover,
.nav-right li:hover {
    transform: translateZ(10%);
    text-shadow: .4px .4px 0 grey;
}

.nav-right {
    position: relative;
    left: 24%;
    margin-top: 10px;
}

.nav-right li {
    margin: 0;
    padding: 0;
    width: 16%;
}

.nav-toggle {
    width: 0;
    height: 0;
}

.logo {
    width: 16rem;
    height: 7.5rem;
    position: relative;
    top: 1rem;
    left: 0.5rem;
}

@media screen and (max-width: 625px) {
    .logo {
        display: none;
    }
}

.logo img {
    height: 6.5rem;
    width: 7.5rem;
}

.tone-2 {
    background-color: rgb(237, 127, 119);
    height: 100vh;
    flex: 1;
    min-width: 50%;
    z-index: 1;
}

.tone-1 {
    max-height: 100%;
    flex: 1;
    text-align: center;
}

@media screen and (max-width: 625px) {
    .tone-1 {
        z-index: 1;
    }
}

.tone-2 img {
    width: 50rem;
    position: absolute;
    top: 20%;
    left: 55%;
    transform: translateY(3.5%);
    transition: 2s;
    z-index: 2;
}

.tone-2 img:hover {
    transform: translateY(-3.5%);
    transition: 2s;
}

@media screen and (max-width: 1200px) {
    .tone-2 img {
        width: 45rem;
        top: 25%;
    }
}

@media screen and (max-width: 900px) {
    .tone-2 img {
        width: 40rem;
        left: 50%;
    }
}

@media screen and (max-width: 650px) {
    .tone-2 img {
        width: 35rem;
        left: 45%;
    }
}

@media screen and (max-width: 500px) {
    .tone-2 img {
        width: 32rem;
    }
}


.main {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

ul {
    display: flex;
    text-align: center;
    margin-top: 1rem;
}

li {
    list-style: none;
}

.product-info {
    display: inline-block;
    position: relative;
    top: 35%;
}

.product-info h1 {
    font-size: 4rem;
    font-weight: 600;
}

.product-info p {
    font-weight: lighter;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.product-info h2 {
    font-weight: lighter;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}


.info-btns {
    color: white;
    font-size: 1.25rem;
    align-items: center;
    justify-content:center;
}

.btn {
    margin: -0.15rem;
    padding: 1.5rem;
    width: 11rem;
    height: 5rem;
}

.discover-btn {
    background-color: grey;
    display: inline-block;
    transform: translateY(15%);
    transition: 0.5s;
}

.discover-btn:hover {
    transform: translateY(-15%);
    box-shadow: 0px 10px 10px grey;
    transition: 0.5s;
}

.cart-btn {
    background-color: black;
    display: inline-block;
    transform: translateY(15%);
    transition: 0.5s;
}

.cart-btn:hover {
    transform: translateY(-15%);
    box-shadow: 0px 10px 10px grey;
    transition: 0.5s;
}


@media screen and (max-width: 750px) {
    .product-info h1 {
        font-size: 4rem;
    }

    .product-info p {
        font-size: 1.5rem;
    }

    .product-info h2 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 600px) {
    .product-info h1 {
        font-size: 3rem;
    }

    .product-info p {
        font-size: 1.25rem;
    }

    .product-info h2 {
        font-size: 2rem;
    }

    .btn {
        width: 8.5rem;
        height: 4rem;
        padding: 1rem;
    }

    .info-btns {
        font-size: 1rem;
    }
}

.sidemenu {
    display: flex;
    overflow-x: hidden;
    width: 50%;
    height: 100%;
    background-color: white;
    position: absolute;
    left: -100rem;
    transition: 0.5s;
    z-index: 3;
}

.sidecontainer {
    width: 15rem;
    margin: 4rem auto auto auto;
    display: block;
    text-align: center;
}

.sidecontainer img {
    margin-bottom: -3rem;
    height: 14rem;
}

.sidetitle {
    font-size: 3rem;
}

#s1 {
    margin: 29rem auto auto auto;
    position: absolute;
}

#s1 ul {
    font-size: 2rem;
    line-height: 4rem;
}

.sideoptions ul {
    display: flex;
    flex-direction: column;
}

.sideoptions li:hover {
    transform: translateZ(10%);
    text-shadow: .4px .4px 0 grey;
}

#s2 {
    margin: 55rem auto auto auto;
    position: absolute;
}

#s2 ul {
    font-size: 1.5rem;
    line-height: 3rem;
}

#s2 ul li {
    display: flex;
}

.sideoptions i {
    padding: -5rem;
}

@media screen and (min-width: 625px) {
    .sidemenu {
        display: none;
    }
}